<!-- PORTFOLIO HEADER  -->
<div class="header">
  <h1 style="background:red;font-size:50px;">WEBSITE CURRENTLY UNDERGOING OVERHAUL, WILL BE FINISHED SOON</h1>
  <h1 id="nameTitle">Nicolas Williams</h1>
  <h2 id="jobTitle">Game Producer</h2>
</div>

<!-- NAVIGATION BAR -->
<ul class="navBar">
  {% for item in site.data.header %}
  <li class="navLink"><a href="{{ item.link }}" 
                         class="navLink {% if page.url == item.link %}active{% endif %}">
      {{ item.name }}</a>
  {% endfor %}
  <!-- <li class="navLink"><a class="navLink" href="index.html">Games</a></li> -->
  <!-- <li class="navLink"><a class="navLink" href="about.html">About Me</a></li> -->
  <!-- <li class="navLink"><a class="navLink" href="resume.html">Resume</a></li> -->
</ul>
