

#projectHeader {
  text-align: center;

}

#projectTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

#projectTeam {
  font-size: 20px;
  margin: 0;
}

#projectRole {
  font-size: 20px;
  margin: 0;
}
