<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title %}{{ page.title }} - Nico Williams' Portfolio
      {% else %}
      Nico Williams - Game Producer
      {% endif %}
    </title>
    {% if layout.stylesheet %}
    <link rel="stylesheet" href="{{ layout.stylesheet }}">
    {% endif %}
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ page.stylesheet }}">
    {% endif %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Enriqueta:400,700" 
      rel="stylesheet">
		<!-- Javascript to update the page when any changes are made to it -->
		<!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->


  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
